.App {
  background-color: black;
  min-height: 100vh;


}

.App-header {
  background-color: #222;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width:100%;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
th,
td {
  padding: 6px 2px;
  word-wrap: break-word;
}
th {
  background: #42444e;
  color: #fff;
  text-align: center;
  font-size: calc(10px + .65vw);
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #A9A9A9;
}
tr:nth-child(odd) td {
  background: white;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.click{
  cursor: pointer;
  font-size: calc(10px + .65vw);
}
.select {
  margin: auto;
  font-size: 16px;
  position: relative;
  top: -20px;
}
.type{
position: absolute;
text-align: center;
font-size: calc(8px + .65vw);
-webkit-appearance: none;
top: 8%;
right: 6%;
width: calc(55px + 1vw);
height: calc(35px + 1vw);
background-color: #A9A9A9;
border: none;
cursor: pointer;
}

.finderButton{
  position: absolute;
  text-align: center;
  font-size: calc(8px + .65vw);
  -webkit-appearance: none;
  top: 8%;
  left: 6%;
  width: calc(55px + 1vw);
  height: calc(35px + 1vw);
  background-color: #A9A9A9;
  border: none;
  cursor: pointer;
}
.finder{
  height: 60vh;
  width: 40vw;
  min-height: 400px;
  min-width: 400px;
  background-color: #DAA520;
  margin: auto;
  position: fixed;
  left:0%;
  right: 0%;
  color: black;
  text-align: center;
}
.finderText{
  font-size: 16px;
}

.back{
  position: absolute;
  text-align: center;
  font-size: calc(8px + .65vw);
  -webkit-appearance: none;
  top: 8%;
  right: 6%;
  width: calc(55px + 1vw);
  height: calc(35px + 1vw);
  background-color: #A9A9A9;
  border: none;
  cursor: pointer;
}
