.App {
  background-color: black;
  min-height: 100vh;


}

.App-header {
  background-color: black;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width:100%;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}
.lineupTable {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  padding-bottom: 10px;
}
th,
td {
  padding: 6px 2px;
  word-wrap: break-word;
}
th {
  background: #42444e;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #808080;
}
tr:nth-child(odd) td {
  background: #D3D3D3;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.click{
  cursor: pointer;
  font-size: 18px;
}
.lineupHeader{
  width:25%;
}
.lineupTable td, .playerTable td, .finderTable td{
  font-weight: bold;
  height: 58px;
  font-size: 18px;
  font-family: "Tahoma"
}
#pre{
  white-space: pre;
}
.select {
  margin: auto;
  font-size: 16px;
}
h1{
  margin-bottom: 0px;
}
.type{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  width: 90px;
  height: 50px;
  background-color: #808080;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  margin: 5px;
}


.finderButton{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  width: 100px;
  height: 50px;
  background-color: #808080;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}
.finder{
  height: 60vh;
  width: 40vw;
  min-height: 400px;
  min-width: 400px;
  background-color: #DAA520;
  margin: auto;
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.finderText{
  font-size: 16px;
}
#finderInstr{
  margin: 10px;
  font-weight: bold;
}

.header, .gamesHeader{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.headerButtonContainer{
  width: 210px;
  background: green;
}

#wakeScore, #oppScore{
  font-size: 20px;
  font-weight: bold;
}
.gameScore{
  margin-bottom: 18px;
}
.title h1 {
  padding-bottom: 5px;
}




@media only screen and (max-width: 500px){
  /* mobile layout here */
  th, .click {
    font-size: 11px;
    word-spacing: 50px;
  }

  .lineupTable td, .playerTable td, .finderTable td{
    font-weight: bold;
    font-size: 11px;
    font-family: "Tahoma"
  }
  .lineupHeader{
    width: 24%;
  }
  #pre{
    font-size: 10px;
  }
}
