.App {
  background-color: black;
  width: 100%;
  min-width: 100%;
  font-size: 16px;
}



.App-header {
  background-color: #222;
  height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width:100%;
  min-width: 900px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}
table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  width: 70%;
  table-layout: fixed;
  padding-bottom: 50px;
  min-width: 900px;
  text-align: center;
}
th,
td {
  padding: 6px 2px;
  word-wrap: break-word;
}
th {
  background: #42444e;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #A9A9A9;
}
tr:nth-child(odd) td {
  background: white;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.click{
  cursor: pointer;
  font-size: 14px;
}
.select {
  position: relative;
  margin: auto;
  top: -50px;
  font-size: 16px
}
select{
  font-size: 50px;
}
select:focus{
  font-size: 16px;
}
